td {
  text-align: center;
  width: 90px;
}

tr{
  width: 160px;
  text-align:center;
}

th{
  text-align:center;
  width: 90px;
}

.custom{
  width: 39.8px;
  height: 37.81px;
}

.dateHeader{
  text-align:center;
  padding: 20px;
}








